**/target/
**/.idea/
**/.vscode/
**/.settings/
**/.classpath
**/.project
**/*.iml
**/*.log
**/__pycache__/
**/.env
**/.env.*
!**/.env.example
**/mysql-data/
**/mysql_data/
**/maven-wrapper.jar
*.zip
*.lab
/runtime/
